@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600,600i');

* {margin: 0; padding: 0;}

/* Type */
body { 
	min-width:320px; 
	-webkit-font-smoothing: antialiased !important; 
	background-color:#000;
	font-family:'EB Garamond', serif;
	font-size:19px; 
	line-height:25px;
	color:#fff; 
	text-decoration:none; 
	font-weight:normal;
}

p {margin-bottom: 0px;}
a:hover { color:#424242; text-decoration:none; }
a:focus { color:#fff; text-decoration:none;}

.en p, .fr p, .en a, .fr a, .archive{ font-size:22px; line-height:28px;}
.en p {padding-bottom:12px;}
.fr p {padding-top:12px;}
.en a, .fr a{ border-bottom:1px solid #424242; }
.en a:hover, .fr a:hover{ border-bottom:none; }

h2 {font-size:32px; font-weight:normal; line-height:40px;}	
hr {width:60px; height: 1px; border: 0; border-top: 1px solid #424242;}

/* UX */
.lazyloading, .lazyload {-webkit-filter: blur(5px); filter: blur(5px); opacity:0;}
.lazyloaded {transition: all .4s ease; -moz-transition: opacity .4s ease; -webkit-transition: all .4s ease;}
.cover {position: fixed; height: 100%; width: 100%; top:0; left: 0; background-color:#000;}
@keyframes fade-in {
	0% {opacity:0;}
	100% {opacity: 1;}
}

/* Nav */
nav {
	padding: 34px 40px 0px 40px; 
	width:100%; 
	position:fixed; 
	z-index:10; 
	min-width:320px;
	font-weight:600;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}
.nav-right {float:right;}
.nav-right a {padding-left:15px;}

/* Slides */
.slides-container {
	height:100vh;
	width:100vw;
	position:fixed;
}
.slides-show{
	height:100vh;
	width:100vw;
	position:relative;
}
.slides {
	height:100%;
	width:100%;
	position:absolute;
}
.slide {
	height:100vh;
	width:100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	opacity:0;
    transition: opacity .4s ease-in;
    -moz-transition: opacity .4s ease-in;
    -webkit-transition: opacity .4s ease-in;
}
.flickity-bg-lazyloaded{
	opacity:1;
}
.flickity-button {background:none !important; margin-left:20px; margin-right:20px;}
.flickity-button-icon {
	fill: #fff !important;
}
.flickity-prev-next-button {width:34px !important; height:34px !important;}
.flickity-button-icon:hover {fill:#424242 !important;}

.arrow{
	box-shadow: 0px 0px 5px 5px red;
}
.slide-text{
	position:absolute;
	bottom:0;
	padding-left:40px;
	padding-bottom:34px;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}
.slide-text p {
	display:inline;
	padding-right:15px;
}
.sl-proj{
	font-weight:600;
}
.sl-field{
	font-style:italic;
}

/* Archive */
th:hover {cursor:pointer; color:#424242;}
table {width:100%;}
tr {border-bottom:1px solid #424242;}
.archive td, .archive th {padding-right:12px; vertical-align: top; padding-top:5px; padding-bottom:6px;}
td.ar-year {padding-right:40px;}
.archive .header { padding-right:15px;}
.arc-arrow {width:14px; height:15px; display:inline-block; margin-left:5px;}
.headerSortUp .arc-arrow  {
	background-image: url(../img/arrows/u.svg);
	background-repeat: no-repeat;
	background-position:bottom;
	background-size: 11px;
}
.headerSortDown .arc-arrow  {
	background-image: url(../img/arrows/d.svg);
	background-repeat: no-repeat;
	background-position:bottom;
	background-size: 11px;
}

/* Project Nav */
.project-nav {display:inline; margin-left:40px;}
.project-nav ul {list-style-type:none; padding:0; margin:0; display:inline;}
.project-nav ul li {display:inline;}
.project-nav img {width:11px; margin-top:-4px;}
.project-nav img:hover {opacity:0.25;}
.project-next {padding-left:15px;}

/* Project Page */
.project-container {padding-top:140px; max-width:1600px; margin:auto; animation: fade-in .4s;}
.project-container img {width:100%; height:auto; margin-bottom:60px;}
.project-info {max-width:1200px; margin:auto;}
.project-credits {padding-bottom:40px;}
.project-credits a {border-bottom:1px solid #424242;}
.project-credits a:hover {border-bottom:none;}
.portrait {text-align:center;}
.portrait img {max-width:900px; width:50% !important;}

/* Video */ 
.video-wrapper {position: relative; padding-bottom: 56.25%; margin-bottom: 10%; height: 0;}
.video-wrapper iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

/* Info */
.info-table {border-top:1px solid #424242; margin-top:3px;}
.info-table td {padding-bottom:3px; padding-top:2px;}
.info-pad {margin-bottom:40px;}
.info-pad2 {margin-top:40px; margin-bottom:40px;}
.ex-venue {padding-right:10px;}
.ex-year {padding-right:10px;}

/* Footer */
footer {text-align:center; padding-top:80px; padding-bottom:60px; font-weight:bold;}
footer p,a {display:inline; color:#fff;}
footer a {margin-left:15px;}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {
	.project-container img {margin-bottom:45px;}
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
	.ex-title {display:none;}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
	nav {padding: 13px 15px 0px 15px;}
	.flickity-button {margin-left:-3px; margin-right:-3px;}
	h2 {font-size:24px; line-height:32px;}
	.ar-field {display:none;}
	.project-container {padding-top:120px;}
	.slide-text{ padding-left:15px; padding-bottom:15px;}
	.portrait img {width:100% !important;}
	.project-credits {padding-left:0px;}
	.project-credits + div {padding-left:0px;}
    .video-wrapper{margin-bottom:60px;}
	.info-pad2 {margin-bottom:0px;}
	.ex-title {display:inherit;}
	footer {padding-bottom:40px;}
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
	body, table.archive {font-size:17px; line-height:23px;}
	nav {background-color:#000; padding-bottom:13px;}
	nav.index-nav {background-color:transparent; padding-bottom:0px;}
	.nav-right a {padding-left:10px;}
	.flickity-button {display:none;}
	.slides-container {height: calc(100vh - var(--vh-offset));}
	.slides-show {height: calc(100vh - var(--vh-offset));}
	.slide {width:100%;}
	.slide-text {display:none;}
	.archive td {padding-bottom:3px; padding-top:2px;}
	.th-arrow {display:none;}
	td.ar-year {padding-right:30px;}
	.project-nav {margin-left:14px;}
	.project-next {padding-left:10px;}
	.project-container {padding-top:80px;}
	.en p, .fr p, .en a, .fr a, .archive, h2 {font-size:21px; line-height:26px;}
	.project-container img {margin-bottom:30px;}
	.project-credits {padding-bottom:30px;}
	.info-pad {margin-bottom:30px;}
	.info-pad2 {margin-top:30px;}
	.ex-title {display:none;}
	footer {padding-top:60px;}
}